.eliminar, .verificar, .editar{
    background-color: transparent;
    font-size: 0.6rem;
    margin: 0.1rem;
    border:solid grey 1px;
    margin-right: auto;
    border-style: inset;


  }

  p.eliminar, .verificar, .editar {
      font-size: 0.6rem;
      text-align: center;
    
    }
  
