html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* mobile first */
#taskInput,
html,
.element {
  margin: 0 0;
  transform: translate3d(0, 0, 0);
  z-index: 50;
  display: block;
}
h1 {
  font-size: 2.3rem;
  text-align: center;
}

body {
  background-image: url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  line-height: 1.5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Verdana", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Verdana", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: rgb(243, 38, 45);
  text-align: center;
  margin: auto;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 14vh;
  margin-bottom: 1rem;
  width: 95vw;
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;
}

form {
  max-width: 99vw;
  min-height: auto;
  align-self: center;
}

#fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  width: 90vw;
}

#taskInput {
  padding: 0.2rem;
  border-radius: 5px;
  color: rgb(243, 38, 45);
  width: 85vw;
  font-size: 2rem;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  align-self: center;
  margin: auto;
}

input:focus {
  outline: none;
}

input:hover {
  box-shadow: 0 0 5px rgb(68, 67, 67);
}

.addButton {
  background-color: rgb(243, 38, 45);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.addButton {
  max-width: 10rem;
}

.addButton:hover {
  background-color: rgb(3, 73, 142);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 2rem 0rem;
  min-height: 70%;
}

li {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  padding: 0.2rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  height: 3rem;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
span {
  align-self: center;
}
li:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.eliminar {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
}
.verificar {
  position: absolute;
  right: 3rem;
  top: 0;
  bottom: 0;
}
.editar {
  position: absolute;
  right: 6rem;
  top: 0;
  bottom: 0;
  color: #000;
  font-weight: 600;
}

.editar:hover {
  background-color: rgb(3, 73, 142);
}

.eliminar:hover {
  background-color: rgb(3, 73, 142);
}

.verificar:hover {
  background-color: rgb(3, 73, 142);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding: 2rem;
  font-family: "Verdana", sans-serif;
  color: rgb(243, 38, 45);
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 1rem;
  height: 2.5rem;
  background-color: rgb(3, 73, 142);
  padding: 10px;
  height: 10vh;
}

/* #taskInput,
html,
.element {
  margin: 0 0;
  transform: translate3d(0, 0, 0);
  z-index: 50;
  display: block;
}
h1 {
  font-size: 2.3rem !important;
  text-align: center;
}
 */
